/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}


body{
	height: 3000px;
	overflow: auto;
	background: #f5f5f5;	
}

body a{
	text-decoration: none;
}

.topwrapBackground{
	background: #fff;
}
.topwrap{
	margin: 0 auto;
}

.topwrap{
	width: 1264px; 
	height: 85px;
}
.topwrap a{
	display: block;
	width: 50%;
	height: 100%;
	float: left;	
}
.topwrap .topImg1{
	background:url("http://i.okaybuy.cn/static/52cb58361d0f12e15dd182db1280ca00.jpg") no-repeat -368px;	
}
.topwrap .topImg2{
	background:url("http://i.okaybuy.cn/static/fa7ec5f187da9b31a5a0b52d50133530.jpg") no-repeat;	
}

/**/

.topNav{
	width: 1264px;
	height: 28px;
	margin: 0 auto;
	font-family: "宋体";
}
.topNav .topNav_container{
	position: relative;
	width: 1264px;
	margin: 0 auto;
	height: 10px;
} 
.topNav .navMessage{
	position: absolute;
	right: 40px;
}
.navMessage a{
	padding: 0 12px 0 8px;
	line-height:28px ;
	position: relative;
	text-decoration: none;
	font-size: 8px;
	color: #5a5a5a;
}
.navMessage a .iconfont{
	font-size: 8px;
	padding: 0 0 0 4px;
	
}
.navMessage a:after{
	content: "";
	display: block;
	background: #d9d9d9;
	width: 2px;
	height: 12px;
	position: absolute;
	right: 0;
	top:2px
}
.navMessage .clearBorder:after{
	content: "";
	display: none;
}


.toplogo{
	margin: 0 auto;
	border-top:1px solid #dcdcdc ;
	width:1264px;
	height: 110px;
	background: #f5f5f5;
	font-family: "宋体";
	
}
.logo{
	float: left;
	margin-left:36px ;
}
.logoSearch{
	height: 60px;
	float: left;
	margin-left:126px ;
	margin-top: 28px;
}
.logoSearch ._search{
	text-indent: 8px;
	float: left;
	width: 374px;
	height: 38px;
	border:3px solid #d70057;
}
.logoSearch .btn{
	float: left;
	height: 38px;
	width: 100px;
	background:#da0055;
	border:0;
	color: #fff;
}
.logoSearch li{
	float: left;
	font-size:12px ;
	padding:6px 9px 6px 0 ;
}
.logoSearch li a{
	color: #888;
	
}
.shopcar{
	float: right;
	margin-right:50px ;
	margin-top: 30px;
	font-size: 12px;
}
.shopcar span{
	float: left;
	text-align: center;
	line-height: 32px;
}
.shopcar span:nth-child(1){
	width: 70px;
	height: 32px;
	background: #ffda73;
}
.shopcar span:nth-child(2){
	width: 175px;
	height: 28px;
	border:2px solid #ffda73;
	background: #fff;
	line-height: 28px;
}



.containNavBackground{
	width: 100%;
	background: #000;
}
.containNav{
	width: 1264px;
	height: 40px;
	background: #000;
	margin: 0 auto;
}
.containNav ul{
	margin-left:40px ;
}
.containNav li{
	float:left;
	width:100px ;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.containNav .liOne{
	background: #d70057;
}
.containNav .liTwo{
	width:122px ;
}
.containNav .liThr{
	margin-left:20px ;
}
.containNav .liThr img{
	float: left;
}
.containNav .liTwo a{
	display: block;
	width:122px ;
	height: 46px;
	margin-top:-6px ;
	background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -187px -46px no-repeat; 
}
.containNav li a{
	color: #fff;
}


/*.warp-banner{
	width: 2526px;
	height: 350px;
	margin: 0 auto;
	background: #f00;
	text-align: center;
}
.swiper-container{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
}*/
.swiper-container img{
	width: 100%;
	height: 100%;
}
