/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}


body{
	overflow: auto;
	overflow-x: hidden;
	background: #f5f5f5;	
}

body a{
	text-decoration: none;
}

.topwrapBackground{
	background: #fff;
}
.topwrap{
	margin: 0 auto;
}

.topwrap{
	width: 1264px; 
	height: 85px;
}
.topwrap a{
	display: block;
	width: 50%;
	height: 100%;
	float: left;	
}
.topwrap .topImg1{
	background:url("http://i.okaybuy.cn/static/52cb58361d0f12e15dd182db1280ca00.jpg") no-repeat -368px;	
}
.topwrap .topImg2{
	background:url("http://i.okaybuy.cn/static/fa7ec5f187da9b31a5a0b52d50133530.jpg") no-repeat;	
}

/**/

.topNav{
	width: 1264px;
	height: 28px;
	margin: 0 auto;
	font-family: "宋体";
}
.topNav .topNav_container{
	position: relative;
	width: 1264px;
	margin: 0 auto;
	height: 10px;
} 
.topNav .navMessage{
	position: absolute;
	right: 36px;
}
.navMessage>a{
	float: left;
	padding: 0 14px;
	line-height:28px ;
	position: relative;
	text-decoration: none;
	font-size: 8px;
	color: #5a5a5a;
}
.navMessage>a:hover{
	background: #fff;
	/*border: 1px solid #d9d9d9;*/
	border-bottom: 0;
}
.navinfobtm{
	display: none;
	width: 110px;
	height: 100px;
	position: absolute;
	z-index: 200;
	top: 28px;
	left: 0;	
}
.navinfobtm a{
	display: block;
}
.navMessage .navMessageOne{
	padding-right:8px;
}
.navMessage>a .iconfont{
	font-size: 8px;
	padding: 0 0 0 4px;
	
}
.navMessage>a:after{
	content: "";
	display: block;
	background: #d9d9d9;
	width: 1px;
	height: 12px;
	position: absolute;
	right: 0;
	top:7px
}
.navMessage .clearBorder:after{
	content: "";
	display: none;
}


.toplogo{
	margin: 0 auto;
	border-top:1px solid #dcdcdc ;
	width:1264px;
	height: 110px;
	background: #f5f5f5;
	font-family: "宋体";
	position: relative;
	
}
.logo{
	position: absolute;
	left:32px;
	top:0;
}
.logoSearch{
	position: absolute;
	left:370px;
	top:28px;
	height: 60px;
}
.logoSearch ._search{
	text-indent: 8px;
	line-height: 38px;
	float: left;
	width: 374px;
	height: 38px;
	border:3px solid #d70057;
}
.list{
	display: none;
	position: absolute;
	top:38px;
	left:0;
	width: 20px;
	height: 40px;
	background:saddlebrown;
}
.logoSearch .btn{
	float: left;
	height: 38px;
	width: 100px;
	background:#da0055;
	border:0;
	color: #fff;
}
.logoSearch li{
	float: left;
	font-size:12px ;
	padding:8px 9px 6px 0 ;
}
.logoSearch li a{
	color: #888;
	
}
.shopcar{
	position: absolute;
	right:50px;
	top:30px;
	height: 60px;
	font-size: 12px;
}
.shopcar span{
	float: left;
	text-align: center;
	line-height: 32px;
}
.shopcar span:nth-child(1){
	width: 70px;
	height: 32px;
	background: #ffda73;
}
.shopcar span:nth-child(2){
	width: 175px;
	height: 28px;
	border:2px solid #ffda73;
	background: #fff;
	line-height: 28px;
}



.containNavBackground{
	z-index: 100;
	width: 100%;
	background: #000;
	position: sticky;
	top:0;
}
.containNav{
	position: relative;
	width: 1264px;
	height: 40px;
	background: #000;
	margin: 0 auto;
	
}
.SportsLife,.CasualClothing,.Shoes,.Earth{
	position: absolute;
	top: 40px;
	left:32px;
	z-index: 9999;
	max-width: 1200px;
    height: 396px;
    background-color: #fff;
    box-shadow:1px 1px 2px #acacac;
    display: none;
    line-height: 24px;
	font-size: 12px;
}

.containNav ul{
	margin-left:32px ;
}
.containNav li{
	float:left;
	width:100px ;
	height: 40px;	
}
.containNav li a{
	display: block;
	width:100px ;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.containNav li a:hover{
	color: #d70057;
}
.colbox{
	float: left;
	padding:0 10px ;
}
.colbox h3{
	margin-top:12px ;
    font-size: 12px;
    font-weight: bold;
    color: #D20D33;
}
.colbox .content img{
	width: 300px;
	height: 240px;
}
.SportsLife .catewrap{
	width:360px;
}
.containNav .liOne a{
	background: #d70057;
}
.containNav .liTwo{
	position: relative;
	width:122px ;
}
.containNav .liThr a{
	margin-left:28px;
	position: relative;
}
.containNav .lifor a{
	margin-left:20px;
}
.containNav .liThr img{
	float: left;
	position: absolute;
	left: -8px;
	top:0;
}
.containNav .liTwo a{
	position: absolute;
	display: block;
	width:122px ;
	height: 46px;
	left: 0;
	top:-6px ;
	background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -187px -46px no-repeat; 
}
.containNav li a{
	color: #fff;
}
.warp-banner{
	width: 100%;
	height: 350px;
	background: #fff;
	position: relative;
}
.swiper-container .rltn{
	width:1200px;
	height:350px;
	background: #f00;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
}
.swiper-container{
	width: 1894.5px;
	height: 350px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.swiper-container img{
	width: 100%;
	height: 100%;
}

.subBanner{
	width: 1200px;
	height: 87px;
	margin: 0 auto;
}
.famousBrand{
	width: 1200px;
    height: 194px;
    overflow: hidden;
    margin:0 auto 34px;
}
.famousBrand .brandinin a{
	width: 99px;
    text-align: center;
    height: 64px;
    background: #fff;
    display: block;
    float: left;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}


.whiteBackground{
	width:100%;
	background:#fff;
}
.centerImg{
	width: 1200px;
	margin: 0 auto 34px;
}


.main1{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.main1w1220{
	width: 1220px;
	position: absolute;
	top: 0;left: 0;
	overflow: hidden;
}
.commodityBox{
	float: left;
	width: 595px;
	height: 210px;
	margin: 0 10px 10px 0;
}
.commodityBox a{
	border: 1px solid #e9e7ea;
    display: block;
    position: relative;
    width: 593px;
    height: 208px;
}

.commodityBox img{
	position: absolute;
    left: 0;
    top: 0;
	width: 593px;
    height: 208px;
}
.commodityBox a:hover{
	border: 1px solid #d70057;
}
.commodityBox .tit1,.commodityBox .tit2,.commodityBox .tit3{
    position: absolute;
    z-index: 1;
    left: 0;   
    color: #333;
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    text-align: center;
}
.commodityBox .tit1{
	top: 76px;
}
.commodityBox .tit2{
	top: 94px;
}
.commodityBox .tit3{
	top: 144px;
    color: #d70057;
    font-size: 20px;
    font-weight: bold;
}
.commodityBox .time{
	position: absolute;
    z-index: 2;
    left: 48px;
    bottom: 10px;
    color: #666;
    font-size: 12px;
}
.commodityBox .time span{
	text-align: left;
}
.commodityBox .time b{
	font-weight:normal ;
	color: #d70057;
}

.squareness{
	width: 1200px;
	margin: 0 auto;
}
.squareness img{
	width: 100%;
}

/*------------------------------main2----------------------------*/
.main2{
	position: relative;
	width: 1200px;	
	margin: 0 auto;
	overflow: hidden;
}
.main2w1220{
	width: 1220px;
	position: absolute;
	top: 0;left: 0;
	overflow: hidden;
}
.merchandise{
	float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.merchandise a{
	border: 1px solid #e9e7ea;
    width: 388px;
    height: 329px;
    display: block;
    position: relative;
}
.merchandise a:hover{
	border: 1px solid #d70057;
}
.merchandise img{
	position: absolute;
    left: 0;
    top: 0;
    width: 388px;
    height: 328px;
}
.merchandise .merchandiseTitle{
	position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 50px;
    color: #333;
    line-height: 18px;
    width: 250px;
    text-align: left;
    font-size: 18px;
}
.merchandise .merchandiseTitle span{
    color: #d70057;
    font-weight: bold;
}
.merchandise .time2{
	position: absolute;
	font-size: 14px;
    z-index: 1;
    left: 20px;
    bottom: 20px;
    color: #666;
}
.merchandise .time2 span{
	text-align: left;
}
.merchandise .time2 b{
	font-weight:normal ;
	color: #d70057;
}
/*-----------------------bottom----------------------------*/
.fooster{
	border-top:1px solid #a6a6a6;
    margin-top:40px;
}
.bottom{
	border-top:1px solid #c3c3c3;
    background-color:#e6e6e6;
    padding:28px 0 0 0;
}
.bottomTOne{
	overflow: hidden;
	margin: 0 auto;
	width: 1250px;
}
.QRCode{
	height: 140px;
    margin-left: 26px;
    background: #fff;
    float: left;
    width: 560px;
}
.footer_code{
	overflow: hidden;
    width: 480px;
    margin: 10px 0 0 35px;
    text-align: center;
}
.footer_code .wx_code{
	margin-top:8px;
	width:120px;
	float:left;    
    margin-left:80px;
    text-align:center;
}
.footer_code img{
	width: 90px;
	height: 90px;
}
.footer_code .wx_code p {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.bottomNav{
	float: right;
}
.bottomNav li{
	float: left;
    width: 120px;
    display: inline;
    border-left: solid 1px #fff;
    margin-right: 30px;
}
.bottomNav .title{
	line-height: 24px;
    background-color: #fff;
    margin-bottom: 14px;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    color: #999;
    padding-left: 1em;
}
.bottomNav p a{
	color: #666;
	font-size: 12px;
	line-height: 24px;
	padding-left: 1em;
}
.bottomLogo{
	clear: both;
	width: 1250px;
	height:36px;
	padding-top:40px;
	text-align: center;
}
.bottomLogo img{
	height: 36px;	
}
.about{
	line-height: 42px;
    text-align: center;
    font-size: 12px;
    color: #d7d7d7;
}
.about a{
	color: #777;
}
.copy{
	background-color: #232323;
    text-align: center;
    color: #999;
    line-height: 24px;
    font-size: 12px;
}
.copy a{
	color: #999;
}
